body{
    background-color: whitesmoke;
    color: black;
      
}
nav ul{
    text-align: center;
    list-style: none;
    display: flex;
    justify-content: space-around;
   
}
header{
    border-bottom: solid 5px rgb(119 87 75); 
}
section{
    background-color: rgb(107, 99, 99)
    
}

.livros img{
    width: 200px;
    height: 300px;
    opacity: 0.5;
}
.livros img:hover{
    opacity: 1.0;
}
h2{
    text-align: center;
    justify-content: center;
}
